<ion-content>
  <div class="content">
    <div class="heading">
      <h1>Bem-vindo</h1>
      <p>Por favor, entre ou cadastre-se para continuar usando nosso aplicativo.</p>
    </div>
    <div class="image">
      <img src="../../assets/welcome.svg">
    </div>
    <div class="signin">
      <ion-button routerLink="/login" expand="block" shape="round">Login</ion-button>
      <ion-button routerLink="/signup" expand="block" shape="round">Cadastre-se</ion-button>
    </div>
  </div>
</ion-content>