<ion-content>
  <div class="upside">
    <div class="toolbar">
      <ion-icon routerLink="/welcome" name="chevron-back-outline"></ion-icon>
    </div>
    <div class="infor">
      <div class="heading">
        <h1>Cadastre-se</h1>
        <p>Insira suas informações para avançar</p>
      </div>
    </div>
  </div>
  <div class="downside">
    <div class="inputs">
      <ion-item class="first-item">
        <ion-input type="text" placeholder="E-mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Senha"></ion-input>
      </ion-item>
    </div>
    <div class="login-btn">
      <ion-button routerLink="/home" expand="block" shape="round">
        cadastro
      </ion-button>
    </div>
  </div>
</ion-content>
