<ion-content>
  <div class="upside">
    <div class="toolbar">
      <ion-icon routerLink="/home" name="chevron-back-outline"></ion-icon>
    </div>
  </div>
  <div class="infor">
    <div class="image">
      <img src="../../assets/events/event1.svg" />
    </div>
  </div>
  <div class="downside">
    <div class="title-event">
      <span>Titulo do Evento</span>
      <p>Festival de Jazz Internacional</p>
    </div>
    <div class="line"></div>
    <div class="time-local">
      <div>
        <span>Data</span>
        <p>21 Abril 2022 &nbsp; <ion-icon name="calendar-outline"></ion-icon></p>
      </div>
      <div class="time">
        <span>Horário</span>
        <p>22:00 &nbsp; <ion-icon name="time-outline"></ion-icon></p>
      </div>
    </div>
    <div class="line"></div>
    <div class="description">
      <p>Descrição</p>
      <span>Festival Internacional de Jazz de Montreal é um festival anual de jazz realizado em Montreal, Quebec, Canadá. O evento detém o recorde de 2004 do Guinness World Records como o maior festival de jazz do mundo.</span>
    </div>

    <div class="price-btn">
      <div>
        <span>Price</span>
        <p>R$15,00 / Pessoa</p>
      </div>
      <div class="time">
        <ion-button expand="block" shape="round">
          comprar
        </ion-button>
      </div>
    </div>

  </div>
</ion-content>
