<ion-header class="ion-no-border">
  <ion-toolbar color="secondary" no-border>
    <div class="toolbar-content">
      <div class="home-icon">
        <ion-icon class="icon" color="light" name="log-out-outline"></ion-icon>
      </div>
  
      <div class="title">
        <ion-title>NextParty</ion-title>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/banner.svg"/>

    <div class="caption ion-padding">
      Participe dos <br>
      próximos eventos!
    </div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="Procure eventos"></ion-input>
        <ion-button slot='end'>
          <img src="../../assets/filter.svg" />
        </ion-button>
      </ion-item>
    </div>
  </div>

  <div class="title">
    <h2>Eventos Populares</h2>

    <p>Ver todos</p>
  </div>

  <div class="event-slider">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }" class="default-left-padding">
      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/eventcard">
            <ion-card-header class="ion-no-padding">
              <img src="../../assets/events/event1.svg" />
            </ion-card-header>

            <ion-card-content>
              <p class="date">21 Abril 2022</p>
              <h2 class="eventname">Festival de Jazz Internacional</h2>
              <p class="location"><ion-icon name="location"></ion-icon>Quebec, Canadá</p>

              <div class="additional-info">
                <div class="attendees">
                  <img src="../../assets/persons/person1.svg" />
                  <img src="../../assets/persons/person2.svg" />
                  <img src="../../assets/persons/person3.svg" />
                  <img src="../../assets/persons/person4.svg" />
                  <div class="count">
                    <img src="../../assets/persons/person-placeholder.svg" />

                    <p>+7</p>
                  </div>
                </div>

                <p class="time">22:00</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col class="ion-text-left">
          <ion-card routerLink="/eventtwo">
            <ion-card-header class="ion-no-padding">
              <img src="../../assets/events/event2.svg" />
            </ion-card-header>

            <ion-card-content>
              <p class="date">15 Junho 2022</p>
              <h2 class="eventname">Dança Contemporânea</h2>
              <p class="location"><ion-icon name="location"></ion-icon>Rio de Janeiro, Brasil</p>

              <div class="additional-info">
                <div class="attendees">
                  <img src="../../assets/persons/person1.svg" />
                  <img src="../../assets/persons/person2.svg" />
                  <img src="../../assets/persons/person3.svg" />
                  <img src="../../assets/persons/person4.svg" />
                  <div class="count">
                    <img src="../../assets/persons/person-placeholder.svg" />

                    <p>+3</p>
                  </div>
                </div>

                <p class="time">21:30</p>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="default-top-padding title">
    <h2>Ao vivo agora</h2>

    <p>Ver todos</p>
  </div>

  <div class="live-event">
    <img src="../../assets/events/event3.svg" />

    <div class="info">
      <div class="content">
        <h6>Dia Mundial da Arte</h6>

        <p class="stats">
          <span><ion-icon name="eye"></ion-icon>&nbsp;2.3K</span><span><ion-icon name="heart"></ion-icon>&nbsp;3758</span>
        </p>

        <p class="location"><ion-icon name='location'></ion-icon>Paris, França</p>

        <div class="additional-info">
          <div class="attendees">
            <img src="../../assets/persons/person1.svg" />
            <img src="../../assets/persons/person2.svg" />
            <img src="../../assets/persons/person3.svg" />
            <img src="../../assets/persons/person4.svg" />
            <div class="count">
              <img src="../../assets/persons/person-placeholder.svg" />

              <p>+3</p>
            </div>
          </div>
        </div>
      </div>

      <div class="indicator">
        <div>Live</div>
      </div>
    </div>
  </div>
</ion-content>
